@import "tailwindcss";
/* li{
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
a:hover{
    color:rgb(217, 216, 216);
}
.menu{
    margin-top: 30px;
    
}
ul{
 display: flex;
    justify-content: center;
   
    gap:15px;
}
.h2{
    font-weight: bold;
    color: yellow;
}
header{
    
    padding: 25px;
    display: flex;
    justify-content: space-between;
  

} */

header{
    margin-top: 15px;
}